<p>
  Algunos autores definen la estética de manera más amplia, como el estudio de
  la experiencias estéticas y los juicios estéticos en general, y no solo los
  relativos a la belleza. La estética estudia las más amplias y vastas historias
  del conocimiento, así como las diferentes formas del arte.
</p>
<p>
  Para qué sirve la estética ​ La estética es el dominio de la filosofía,
  estudiando el arte y cualidades como la belleza; asimismo es el estudio de
  estas experiencias y juicios que suceden día a día en las actividades que
  realizamos, produciendo sensaciones y emociones ya sean positivas o negativas
  en nuestra persona.
</p>

<div id="product">
  <div class="fila">
    <div class="columna">
      <img src="assets/img/product1.jpeg" alt="Estética" />
    </div>
    <div class="columna">
      <img src="assets/img/product2.jpeg" alt="Estética" />
    </div>

    <div class="columna">
      <img src="assets/img/product4.jpeg" alt="Estética" />
    </div>
    <div class="columna">
      <img src="assets/img/product5.jpeg" alt="Estética" />
    </div>
  </div>
</div>
