/* You can add global styles to this file, and also import other style files */
.border {
  color: white;
  background-color: rgb(193, 172, 214);
  padding: 16px;
  border-radius: 10px;
}
nav {
  background-color: rgb(206, 220, 233);
  border-radius: 15px;
}
